.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    background: #222831;
    border-radius: 5px;

    cursor: pointer;
}

.ordered {
    background: #424851;
}

.table-name {
    margin: 0;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.74);
}

.container {
    width: 100%;
}
.order-button{
    display: flex;
    align-items: center;
    justify-content: center;
}